In [19]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
import numpy as np
from kmodes.kmodes import KModes

In [2]:
# To see all columns in print

pd.options.display.max_columns = None

In [3]:
cluster_2016 = pd.read_csv('cluster_data_less.csv',index_col = False)
# dropping  the index column
cluster_2016 = cluster_2016.drop(columns=['Unnamed: 0'])
cluster_2016.head()

,VEHICLE_HAL_ID,START_RENTAL_ZONE,START_RENTAL_ZONE_HAL_ID,END_RENTAL_ZONE,END_RENTAL_ZONE_HAL_ID,CITY_RENTAL_ZONE,TECHNICAL_INCOME_CHANNEL,Ride_Duration_new,Month
0,108647,Überseering/Mexikoring,213687.0,Bebelallee/Meenkwiese,213855.0,Hamburg,Android,28.800000,1
1,108371,Stadthausbrücke / Neuer Wall,138379.0,Goldbekplatz / Semperstraße,140796.0,Hamburg,iPhone,27.050000,1
2,119829,Jungfernstieg / Ballindamm,131879.0,Hauptbahnhof Ost / Hachmannplatz,131873.0,Hamburg,iPhone,11.216667,1
3,116810,Hudtwalckerstraße / Bebelallee,138378.0,Kellinghusenstraße / Loogeplatz,140795.0,Hamburg,others,75.383333,1
4,120345,Bahnhof Dammtor Nord // Theodor-Heuss-Platz,131883.0,Feldstraße / Marktstraße,244093.0,Hamburg,Android,8.983333,1

In [4]:
# preprocessing to get the original data with all categorical variable

cleanup_months = {"Month":     {6:'June',5:'May',4:"April",3:'March' ,2: "February",1:"January"}}
cluster_2016.replace(cleanup_months, inplace=True)
cluster_2016 = cluster_2016.drop(columns=['START_RENTAL_ZONE_HAL_ID', 'END_RENTAL_ZONE_HAL_ID'])
cluster_2016.head()

,VEHICLE_HAL_ID,START_RENTAL_ZONE,END_RENTAL_ZONE,CITY_RENTAL_ZONE,TECHNICAL_INCOME_CHANNEL,Ride_Duration_new,Month
0,108647,Überseering/Mexikoring,Bebelallee/Meenkwiese,Hamburg,Android,28.800000,January
1,108371,Stadthausbrücke / Neuer Wall,Goldbekplatz / Semperstraße,Hamburg,iPhone,27.050000,January
2,119829,Jungfernstieg / Ballindamm,Hauptbahnhof Ost / Hachmannplatz,Hamburg,iPhone,11.216667,January
3,116810,Hudtwalckerstraße / Bebelallee,Kellinghusenstraße / Loogeplatz,Hamburg,others,75.383333,January
4,120345,Bahnhof Dammtor Nord // Theodor-Heuss-Platz,Feldstraße / Marktstraße,Hamburg,Android,8.983333,January

In [5]:
cluster_2016['TECHNICAL_INCOME_CHANNEL'].unique()

array(['Android', 'iPhone', 'others', 'IVR', 'Windows', 'BlackBerry'],
      dtype=object)

In [6]:
cluster_2016['Month'].unique()

array(['January', 'February', 'March', 'April', 'May', 'June'],
      dtype=object)

In [7]:
! pip install kmodes
! pip install --upgrade pip
! pip install category_encoders

Requirement already satisfied: kmodes in ./anaconda3/lib/python3.6/site-packages (0.8)
Requirement already satisfied: scikit-learn<0.20.0,>=0.19.0 in ./anaconda3/lib/python3.6/site-packages (from kmodes) (0.19.1)
Requirement already satisfied: scipy>=0.13.3 in ./anaconda3/lib/python3.6/site-packages (from kmodes) (1.0.0)
Requirement already satisfied: numpy>=1.10.4 in ./anaconda3/lib/python3.6/site-packages (from kmodes) (1.14.2)
Requirement already up-to-date: pip in ./anaconda3/lib/python3.6/site-packages (10.0.1)
Requirement already satisfied: category_encoders in ./anaconda3/lib/python3.6/site-packages (1.2.6)
Requirement already satisfied: scipy>=0.9 in ./anaconda3/lib/python3.6/site-packages (from category_encoders) (1.0.0)
Requirement already satisfied: statsmodels>=0.6.0 in ./anaconda3/lib/python3.6/site-packages (from category_encoders) (0.8.0)
Requirement already satisfied: patsy>=0.4.0 in ./anaconda3/lib/python3.6/site-packages (from category_encoders) (0.5.0)
Requirement already satisfied: numpy>=1.8.0 in ./anaconda3/lib/python3.6/site-packages (from category_encoders) (1.14.2)
Requirement already satisfied: scikit-learn>=0.15.0 in ./anaconda3/lib/python3.6/site-packages (from category_encoders) (0.19.1)
Requirement already satisfied: pandas>=0.15.0 in ./anaconda3/lib/python3.6/site-packages (from category_encoders) (0.22.0)
Requirement already satisfied: six in ./anaconda3/lib/python3.6/site-packages (from patsy>=0.4.0->category_encoders) (1.11.0)
Requirement already satisfied: python-dateutil>=2 in ./anaconda3/lib/python3.6/site-packages (from pandas>=0.15.0->category_encoders) (2.7.2)
Requirement already satisfied: pytz>=2011k in ./anaconda3/lib/python3.6/site-packages (from pandas>=0.15.0->category_encoders) (2018.4)

## Why choose label encoding with other 3 other encoding

* Label encoding uses for features VEHICLE_HAL_ID,	START_RENTAL_ZONE,	END_RENTAL_ZONE.
* As these features have lots of classes. If we use other encoding the dimention of the dataset is too big too handle.
* For CITY_RENTAL_ZONE,	TECHNICAL_INCOME_CHANNEL,	Ride_Duration_new,	Month we choose 3 encoding as these have small classes.
* And these encoding doesn't produce sparse matrix.

# Implementation

In [8]:
cluster_2016 = pd.read_csv('cluster_data_less.csv',index_col = False)
# dropping  the index column
cluster_2016 = cluster_2016.drop(columns=['Unnamed: 0'])
cluster_2016 = cluster_2016.drop(columns=['START_RENTAL_ZONE_HAL_ID', 'END_RENTAL_ZONE_HAL_ID'])
cleanup_months = {"Month":     {6:'June',5:'May',4:"April",3:'March' ,2: "February",1:"January"}}
cluster_2016.replace(cleanup_months, inplace=True)
cluster_2016.head()

,VEHICLE_HAL_ID,START_RENTAL_ZONE,END_RENTAL_ZONE,CITY_RENTAL_ZONE,TECHNICAL_INCOME_CHANNEL,Ride_Duration_new,Month
0,108647,Überseering/Mexikoring,Bebelallee/Meenkwiese,Hamburg,Android,28.800000,January
1,108371,Stadthausbrücke / Neuer Wall,Goldbekplatz / Semperstraße,Hamburg,iPhone,27.050000,January
2,119829,Jungfernstieg / Ballindamm,Hauptbahnhof Ost / Hachmannplatz,Hamburg,iPhone,11.216667,January
3,116810,Hudtwalckerstraße / Bebelallee,Kellinghusenstraße / Loogeplatz,Hamburg,others,75.383333,January
4,120345,Bahnhof Dammtor Nord // Theodor-Heuss-Platz,Feldstraße / Marktstraße,Hamburg,Android,8.983333,January

In [9]:
# converting all categorcal variable to label encoding

cluster_2016['START_RENTAL_ZONE']=cluster_2016['START_RENTAL_ZONE'].astype('category').cat.codes
cluster_2016['END_RENTAL_ZONE']=cluster_2016['END_RENTAL_ZONE'].astype('category').cat.codes
cluster_2016['VEHICLE_HAL_ID']=cluster_2016['VEHICLE_HAL_ID'].astype('category').cat.codes
#cluster_2016 = cluster_2016.drop(columns=['START_RENTAL_ZONE', 'END_RENTAL_ZONE'])
cluster_2016.head()

,VEHICLE_HAL_ID,START_RENTAL_ZONE,END_RENTAL_ZONE,CITY_RENTAL_ZONE,TECHNICAL_INCOME_CHANNEL,Ride_Duration_new,Month
0,1794,796,115,Hamburg,Android,28.800000,January
1,1574,683,318,Hamburg,iPhone,27.050000,January
2,6517,422,377,Hamburg,iPhone,11.216667,January
3,5127,401,437,Hamburg,others,75.383333,January
4,6984,94,266,Hamburg,Android,8.983333,January

# Approach #1 - Backward Difference Coding

In [10]:
import category_encoders as ce

# Get a new clean dataframe
# cluster_2016 = cluster_2016.select_dtypes(exclude=['float64'])

# Specify the columns to encode then fit and transform
encoder = ce.backward_difference.BackwardDifferenceEncoder(cols=["CITY_RENTAL_ZONE","TECHNICAL_INCOME_CHANNEL","Month"])
encoder.fit(cluster_2016, verbose=1)

# Only display the first 5 columns for brevity
backd_df = encoder.transform(cluster_2016)
backd_df.head()

,col_CITY_RENTAL_ZONE_0,col_CITY_RENTAL_ZONE_1,col_CITY_RENTAL_ZONE_2,col_CITY_RENTAL_ZONE_3,col_CITY_RENTAL_ZONE_4,col_CITY_RENTAL_ZONE_5,col_CITY_RENTAL_ZONE_6,col_CITY_RENTAL_ZONE_7,col_CITY_RENTAL_ZONE_8,col_CITY_RENTAL_ZONE_9,col_CITY_RENTAL_ZONE_10,col_CITY_RENTAL_ZONE_11,col_CITY_RENTAL_ZONE_12,col_CITY_RENTAL_ZONE_13,col_CITY_RENTAL_ZONE_14,col_CITY_RENTAL_ZONE_15,col_CITY_RENTAL_ZONE_16,col_CITY_RENTAL_ZONE_17,col_CITY_RENTAL_ZONE_18,col_CITY_RENTAL_ZONE_19,col_CITY_RENTAL_ZONE_20,col_CITY_RENTAL_ZONE_21,col_CITY_RENTAL_ZONE_22,col_CITY_RENTAL_ZONE_23,col_CITY_RENTAL_ZONE_24,col_CITY_RENTAL_ZONE_25,col_CITY_RENTAL_ZONE_26,col_CITY_RENTAL_ZONE_27,col_CITY_RENTAL_ZONE_28,col_CITY_RENTAL_ZONE_29,col_CITY_RENTAL_ZONE_30,col_CITY_RENTAL_ZONE_31,col_CITY_RENTAL_ZONE_32,col_CITY_RENTAL_ZONE_33,col_CITY_RENTAL_ZONE_34,col_CITY_RENTAL_ZONE_35,col_CITY_RENTAL_ZONE_36,col_CITY_RENTAL_ZONE_37,col_CITY_RENTAL_ZONE_38,col_CITY_RENTAL_ZONE_39,col_CITY_RENTAL_ZONE_40,col_CITY_RENTAL_ZONE_41,col_CITY_RENTAL_ZONE_42,col_CITY_RENTAL_ZONE_43,col_CITY_RENTAL_ZONE_44,col_TECHNICAL_INCOME_CHANNEL_0,col_TECHNICAL_INCOME_CHANNEL_1,col_TECHNICAL_INCOME_CHANNEL_2,col_TECHNICAL_INCOME_CHANNEL_3,col_TECHNICAL_INCOME_CHANNEL_4,col_TECHNICAL_INCOME_CHANNEL_5,col_Month_0,col_Month_1,col_Month_2,col_Month_3,col_Month_4,col_Month_5,col_VEHICLE_HAL_ID,col_START_RENTAL_ZONE,col_END_RENTAL_ZONE,col_Ride_Duration_new
0,1.0,-0.977778,-0.955556,-0.933333,-0.911111,-0.888889,-0.866667,-0.844444,-0.822222,-0.8,-0.777778,-0.755556,-0.733333,-0.711111,-0.688889,-0.666667,-0.644444,-0.622222,-0.6,-0.577778,-0.555556,-0.533333,-0.511111,-0.488889,-0.466667,-0.444444,-0.422222,-0.4,-0.377778,-0.355556,-0.333333,-0.311111,-0.288889,-0.266667,-0.244444,-0.222222,-0.2,-0.177778,-0.155556,-0.133333,-0.111111,-0.088889,-0.066667,-0.044444,-0.022222,1.0,-0.833333,-0.666667,-0.5,-0.333333,-0.166667,1.0,-0.833333,-0.666667,-0.5,-0.333333,-0.166667,1794,796,115,28.800000
1,1.0,-0.977778,-0.955556,-0.933333,-0.911111,-0.888889,-0.866667,-0.844444,-0.822222,-0.8,-0.777778,-0.755556,-0.733333,-0.711111,-0.688889,-0.666667,-0.644444,-0.622222,-0.6,-0.577778,-0.555556,-0.533333,-0.511111,-0.488889,-0.466667,-0.444444,-0.422222,-0.4,-0.377778,-0.355556,-0.333333,-0.311111,-0.288889,-0.266667,-0.244444,-0.222222,-0.2,-0.177778,-0.155556,-0.133333,-0.111111,-0.088889,-0.066667,-0.044444,-0.022222,1.0,0.166667,-0.666667,-0.5,-0.333333,-0.166667,1.0,-0.833333,-0.666667,-0.5,-0.333333,-0.166667,1574,683,318,27.050000
2,1.0,-0.977778,-0.955556,-0.933333,-0.911111,-0.888889,-0.866667,-0.844444,-0.822222,-0.8,-0.777778,-0.755556,-0.733333,-0.711111,-0.688889,-0.666667,-0.644444,-0.622222,-0.6,-0.577778,-0.555556,-0.533333,-0.511111,-0.488889,-0.466667,-0.444444,-0.422222,-0.4,-0.377778,-0.355556,-0.333333,-0.311111,-0.288889,-0.266667,-0.244444,-0.222222,-0.2,-0.177778,-0.155556,-0.133333,-0.111111,-0.088889,-0.066667,-0.044444,-0.022222,1.0,0.166667,-0.666667,-0.5,-0.333333,-0.166667,1.0,-0.833333,-0.666667,-0.5,-0.333333,-0.166667,6517,422,377,11.216667
3,1.0,-0.977778,-0.955556,-0.933333,-0.911111,-0.888889,-0.866667,-0.844444,-0.822222,-0.8,-0.777778,-0.755556,-0.733333,-0.711111,-0.688889,-0.666667,-0.644444,-0.622222,-0.6,-0.577778,-0.555556,-0.533333,-0.511111,-0.488889,-0.466667,-0.444444,-0.422222,-0.4,-0.377778,-0.355556,-0.333333,-0.311111,-0.288889,-0.266667,-0.244444,-0.222222,-0.2,-0.177778,-0.155556,-0.133333,-0.111111,-0.088889,-0.066667,-0.044444,-0.022222,1.0,0.166667,0.333333,-0.5,-0.333333,-0.166667,1.0,-0.833333,-0.666667,-0.5,-0.333333,-0.166667,5127,401,437,75.383333
4,1.0,-0.977778,-0.955556,-0.933333,-0.911111,-0.888889,-0.866667,-0.844444,-0.822222,-0.8,-0.777778,-0.755556,-0.733333,-0.711111,-0.688889,-0.666667,-0.644444,-0.622222,-0.6,-0.577778,-0.555556,-0.533333,-0.511111,-0.488889,-0.466667,-0.444444,-0.422222,-0.4,-0.377778,-0.355556,-0.333333,-0.311111,-0.288889,-0.266667,-0.244444,-0.222222,-0.2,-0.177778,-0.155556,-0.133333,-0.111111,-0.088889,-0.066667,-0.044444,-0.022222,1.0,-0.833333,-0.666667,-0.5,-0.333333,-0.166667,1.0,-0.833333,-0.666667,-0.5,-0.333333,-0.166667,6984,94,266,8.983333

In [11]:
# To convert the value into numpy array

backd_df = backd_df.iloc[:, 0:].values

In [12]:
# printing the first array of features

backd_df[0]

array([ 1.00000000e+00, -9.77777778e-01, -9.55555556e-01, -9.33333333e-01,
       -9.11111111e-01, -8.88888889e-01, -8.66666667e-01, -8.44444444e-01,
       -8.22222222e-01, -8.00000000e-01, -7.77777778e-01, -7.55555556e-01,
       -7.33333333e-01, -7.11111111e-01, -6.88888889e-01, -6.66666667e-01,
       -6.44444444e-01, -6.22222222e-01, -6.00000000e-01, -5.77777778e-01,
       -5.55555556e-01, -5.33333333e-01, -5.11111111e-01, -4.88888889e-01,
       -4.66666667e-01, -4.44444444e-01, -4.22222222e-01, -4.00000000e-01,
       -3.77777778e-01, -3.55555556e-01, -3.33333333e-01, -3.11111111e-01,
       -2.88888889e-01, -2.66666667e-01, -2.44444444e-01, -2.22222222e-01,
       -2.00000000e-01, -1.77777778e-01, -1.55555556e-01, -1.33333333e-01,
       -1.11111111e-01, -8.88888889e-02, -6.66666667e-02, -4.44444444e-02,
       -2.22222222e-02,  1.00000000e+00, -8.33333333e-01, -6.66666667e-01,
       -5.00000000e-01, -3.33333333e-01, -1.66666667e-01,  1.00000000e+00,
       -8.33333333e-01, -6.66666667e-01, -5.00000000e-01, -3.33333333e-01,
       -1.66666667e-01,  1.79400000e+03,  7.96000000e+02,  1.15000000e+02,
        2.88000000e+01])

In [20]:
# with 'Cao' initilization as it is a optimized initializer and verbose is information to see.
# no of cluster is 7 according elbow method with lower cost

kmode = KModes(n_clusters=11, init='Cao', verbose=2)

clusters = kmode.fit_predict(backd_df)
# cluster_2016['clusters'] = clusters


# Print cluster centroids of the trained model.
print(kmode.cluster_centroids_)

# Print training statistics
print(kmode.n_iter_)

Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 1, iteration: 1/100, moves: 468157, cost: 11884911.0
Run 1, iteration: 2/100, moves: 89367, cost: 11826180.0
Run 1, iteration: 3/100, moves: 35938, cost: 11826102.0
Run 1, iteration: 4/100, moves: 9, cost: 11826102.0
[[ 1.00000000e+00 -9.77777778e-01 -9.55555556e-01 -9.33333333e-01
  -9.11111111e-01 -8.88888889e-01 -8.66666667e-01 -8.44444444e-01
  -8.22222222e-01 -8.00000000e-01 -7.77777778e-01 -7.55555556e-01
  -7.33333333e-01 -7.11111111e-01 -6.88888889e-01 -6.66666667e-01
  -6.44444444e-01 -6.22222222e-01 -6.00000000e-01 -5.77777778e-01
  -5.55555556e-01 -5.33333333e-01 -5.11111111e-01 -4.88888889e-01
  -4.66666667e-01 -4.44444444e-01 -4.22222222e-01 -4.00000000e-01
  -3.77777778e-01 -3.55555556e-01 -3.33333333e-01 -3.11111111e-01
  -2.88888889e-01 -2.66666667e-01 -2.44444444e-01 -2.22222222e-01
  -2.00000000e-01 -1.77777778e-01 -1.55555556e-01 -1.33333333e-01
  -1.11111111e-01 -8.88888889e-02 -6.66666667e-02 -4.44444444e-02
  -2.22222222e-02  1.00000000e+00  1.66666667e-01 -6.66666667e-01
  -5.00000000e-01 -3.33333333e-01 -1.66666667e-01  1.00000000e+00
   1.66666667e-01  3.33333333e-01  5.00000000e-01 -3.33333333e-01
  -1.66666667e-01  1.46900000e+03  5.30000000e+01  5.40000000e+01
   4.33333333e-01]
 [ 1.00000000e+00  2.22222222e-02  4.44444444e-02  6.66666667e-02
   8.88888889e-02  1.11111111e-01  1.33333333e-01  1.55555556e-01
   1.77777778e-01  2.00000000e-01  2.22222222e-01  2.44444444e-01
   2.66666667e-01  2.88888889e-01  3.11111111e-01  3.33333333e-01
   3.55555556e-01  3.77777778e-01  4.00000000e-01  4.22222222e-01
   4.44444444e-01  4.66666667e-01  4.88888889e-01  5.11111111e-01
  -4.66666667e-01 -4.44444444e-01 -4.22222222e-01 -4.00000000e-01
  -3.77777778e-01 -3.55555556e-01 -3.33333333e-01 -3.11111111e-01
  -2.88888889e-01 -2.66666667e-01 -2.44444444e-01 -2.22222222e-01
  -2.00000000e-01 -1.77777778e-01 -1.55555556e-01 -1.33333333e-01
  -1.11111111e-01 -8.88888889e-02 -6.66666667e-02 -4.44444444e-02
  -2.22222222e-02  1.00000000e+00  1.66666667e-01 -6.66666667e-01
  -5.00000000e-01 -3.33333333e-01 -1.66666667e-01  1.00000000e+00
   1.66666667e-01  3.33333333e-01  5.00000000e-01 -3.33333333e-01
  -1.66666667e-01  4.00600000e+03  1.69000000e+02  4.40000000e+02
   6.70000000e+00]
 [ 1.00000000e+00  2.22222222e-02  4.44444444e-02  6.66666667e-02
   8.88888889e-02  1.11111111e-01  1.33333333e-01  1.55555556e-01
   1.77777778e-01 -8.00000000e-01 -7.77777778e-01 -7.55555556e-01
  -7.33333333e-01 -7.11111111e-01 -6.88888889e-01 -6.66666667e-01
  -6.44444444e-01 -6.22222222e-01 -6.00000000e-01 -5.77777778e-01
  -5.55555556e-01 -5.33333333e-01 -5.11111111e-01 -4.88888889e-01
  -4.66666667e-01 -4.44444444e-01 -4.22222222e-01 -4.00000000e-01
  -3.77777778e-01 -3.55555556e-01 -3.33333333e-01 -3.11111111e-01
  -2.88888889e-01 -2.66666667e-01 -2.44444444e-01 -2.22222222e-01
  -2.00000000e-01 -1.77777778e-01 -1.55555556e-01 -1.33333333e-01
  -1.11111111e-01 -8.88888889e-02 -6.66666667e-02 -4.44444444e-02
  -2.22222222e-02  1.00000000e+00  1.66666667e-01 -6.66666667e-01
  -5.00000000e-01 -3.33333333e-01 -1.66666667e-01  1.00000000e+00
   1.66666667e-01 -6.66666667e-01 -5.00000000e-01 -3.33333333e-01
  -1.66666667e-01  5.19200000e+03  2.32000000e+02  1.79000000e+02
   7.10000000e+00]
 [ 1.00000000e+00  2.22222222e-02  4.44444444e-02  6.66666667e-02
   8.88888889e-02  1.11111111e-01 -8.66666667e-01 -8.44444444e-01
  -8.22222222e-01 -8.00000000e-01 -7.77777778e-01 -7.55555556e-01
  -7.33333333e-01 -7.11111111e-01 -6.88888889e-01 -6.66666667e-01
  -6.44444444e-01 -6.22222222e-01 -6.00000000e-01 -5.77777778e-01
  -5.55555556e-01 -5.33333333e-01 -5.11111111e-01 -4.88888889e-01
  -4.66666667e-01 -4.44444444e-01 -4.22222222e-01 -4.00000000e-01
  -3.77777778e-01 -3.55555556e-01 -3.33333333e-01 -3.11111111e-01
  -2.88888889e-01 -2.66666667e-01 -2.44444444e-01 -2.22222222e-01
  -2.00000000e-01 -1.77777778e-01 -1.55555556e-01 -1.33333333e-01
  -1.11111111e-01 -8.88888889e-02 -6.66666667e-02 -4.44444444e-02
  -2.22222222e-02  1.00000000e+00  1.66666667e-01  3.33333333e-01
  -5.00000000e-01 -3.33333333e-01 -1.66666667e-01  1.00000000e+00
   1.66666667e-01 -6.66666667e-01 -5.00000000e-01 -3.33333333e-01
  -1.66666667e-01  4.60300000e+03  2.70000000e+01  2.70000000e+01
   6.66666667e+00]
 [ 1.00000000e+00  2.22222222e-02  4.44444444e-02  6.66666667e-02
   8.88888889e-02  1.11111111e-01 -8.66666667e-01 -8.44444444e-01
  -8.22222222e-01 -8.00000000e-01 -7.77777778e-01 -7.55555556e-01
  -7.33333333e-01 -7.11111111e-01 -6.88888889e-01 -6.66666667e-01
  -6.44444444e-01 -6.22222222e-01 -6.00000000e-01 -5.77777778e-01
  -5.55555556e-01 -5.33333333e-01 -5.11111111e-01 -4.88888889e-01
  -4.66666667e-01 -4.44444444e-01 -4.22222222e-01 -4.00000000e-01
  -3.77777778e-01 -3.55555556e-01 -3.33333333e-01 -3.11111111e-01
  -2.88888889e-01 -2.66666667e-01 -2.44444444e-01 -2.22222222e-01
  -2.00000000e-01 -1.77777778e-01 -1.55555556e-01 -1.33333333e-01
  -1.11111111e-01 -8.88888889e-02 -6.66666667e-02 -4.44444444e-02
  -2.22222222e-02  1.00000000e+00  1.66666667e-01 -6.66666667e-01
  -5.00000000e-01 -3.33333333e-01 -1.66666667e-01  1.00000000e+00
   1.66666667e-01  3.33333333e-01  5.00000000e-01  6.66666667e-01
  -1.66666667e-01  5.28400000e+03  3.71000000e+02  3.73000000e+02
   7.76666667e+00]
 [ 1.00000000e+00  2.22222222e-02  4.44444444e-02  6.66666667e-02
   8.88888889e-02  1.11111111e-01  1.33333333e-01  1.55555556e-01
   1.77777778e-01 -8.00000000e-01 -7.77777778e-01 -7.55555556e-01
  -7.33333333e-01 -7.11111111e-01 -6.88888889e-01 -6.66666667e-01
  -6.44444444e-01 -6.22222222e-01 -6.00000000e-01 -5.77777778e-01
  -5.55555556e-01 -5.33333333e-01 -5.11111111e-01 -4.88888889e-01
  -4.66666667e-01 -4.44444444e-01 -4.22222222e-01 -4.00000000e-01
  -3.77777778e-01 -3.55555556e-01 -3.33333333e-01 -3.11111111e-01
  -2.88888889e-01 -2.66666667e-01 -2.44444444e-01 -2.22222222e-01
  -2.00000000e-01 -1.77777778e-01 -1.55555556e-01 -1.33333333e-01
  -1.11111111e-01 -8.88888889e-02 -6.66666667e-02 -4.44444444e-02
  -2.22222222e-02  1.00000000e+00  1.66666667e-01 -6.66666667e-01
  -5.00000000e-01 -3.33333333e-01 -1.66666667e-01  1.00000000e+00
   1.66666667e-01  3.33333333e-01  5.00000000e-01 -3.33333333e-01
  -1.66666667e-01  1.38900000e+03  1.79000000e+02  1.79000000e+02
   6.48333333e+00]
 [ 1.00000000e+00  2.22222222e-02  4.44444444e-02  6.66666667e-02
  -9.11111111e-01 -8.88888889e-01 -8.66666667e-01 -8.44444444e-01
  -8.22222222e-01 -8.00000000e-01 -7.77777778e-01 -7.55555556e-01
  -7.33333333e-01 -7.11111111e-01 -6.88888889e-01 -6.66666667e-01
  -6.44444444e-01 -6.22222222e-01 -6.00000000e-01 -5.77777778e-01
  -5.55555556e-01 -5.33333333e-01 -5.11111111e-01 -4.88888889e-01
  -4.66666667e-01 -4.44444444e-01 -4.22222222e-01 -4.00000000e-01
  -3.77777778e-01 -3.55555556e-01 -3.33333333e-01 -3.11111111e-01
  -2.88888889e-01 -2.66666667e-01 -2.44444444e-01 -2.22222222e-01
  -2.00000000e-01 -1.77777778e-01 -1.55555556e-01 -1.33333333e-01
  -1.11111111e-01 -8.88888889e-02 -6.66666667e-02 -4.44444444e-02
  -2.22222222e-02  1.00000000e+00  1.66666667e-01 -6.66666667e-01
  -5.00000000e-01 -3.33333333e-01 -1.66666667e-01  1.00000000e+00
   1.66666667e-01  3.33333333e-01 -5.00000000e-01 -3.33333333e-01
  -1.66666667e-01  4.06400000e+03  3.74000000e+02  3.76000000e+02
   6.83333333e+00]
 [ 1.00000000e+00  2.22222222e-02  4.44444444e-02  6.66666667e-02
   8.88888889e-02  1.11111111e-01  1.33333333e-01  1.55555556e-01
   1.77777778e-01  2.00000000e-01  2.22222222e-01  2.44444444e-01
   2.66666667e-01  2.88888889e-01  3.11111111e-01  3.33333333e-01
   3.55555556e-01  3.77777778e-01  4.00000000e-01  4.22222222e-01
   4.44444444e-01 -5.33333333e-01 -5.11111111e-01 -4.88888889e-01
  -4.66666667e-01 -4.44444444e-01 -4.22222222e-01 -4.00000000e-01
  -3.77777778e-01 -3.55555556e-01 -3.33333333e-01 -3.11111111e-01
  -2.88888889e-01 -2.66666667e-01 -2.44444444e-01 -2.22222222e-01
  -2.00000000e-01 -1.77777778e-01 -1.55555556e-01 -1.33333333e-01
  -1.11111111e-01 -8.88888889e-02 -6.66666667e-02 -4.44444444e-02
  -2.22222222e-02  1.00000000e+00  1.66666667e-01 -6.66666667e-01
  -5.00000000e-01 -3.33333333e-01 -1.66666667e-01  1.00000000e+00
   1.66666667e-01  3.33333333e-01 -5.00000000e-01 -3.33333333e-01
  -1.66666667e-01  4.18200000e+03  1.95000000e+02  7.14000000e+02
   8.56666667e+00]
 [ 1.00000000e+00  2.22222222e-02  4.44444444e-02  6.66666667e-02
   8.88888889e-02  1.11111111e-01  1.33333333e-01  1.55555556e-01
   1.77777778e-01  2.00000000e-01  2.22222222e-01  2.44444444e-01
   2.66666667e-01  2.88888889e-01  3.11111111e-01  3.33333333e-01
  -6.44444444e-01 -6.22222222e-01 -6.00000000e-01 -5.77777778e-01
  -5.55555556e-01 -5.33333333e-01 -5.11111111e-01 -4.88888889e-01
  -4.66666667e-01 -4.44444444e-01 -4.22222222e-01 -4.00000000e-01
  -3.77777778e-01 -3.55555556e-01 -3.33333333e-01 -3.11111111e-01
  -2.88888889e-01 -2.66666667e-01 -2.44444444e-01 -2.22222222e-01
  -2.00000000e-01 -1.77777778e-01 -1.55555556e-01 -1.33333333e-01
  -1.11111111e-01 -8.88888889e-02 -6.66666667e-02 -4.44444444e-02
  -2.22222222e-02  1.00000000e+00  1.66666667e-01 -6.66666667e-01
  -5.00000000e-01 -3.33333333e-01 -1.66666667e-01  1.00000000e+00
   1.66666667e-01  3.33333333e-01  5.00000000e-01 -3.33333333e-01
  -1.66666667e-01  6.29500000e+03  1.40000000e+02  1.40000000e+02
   4.33333333e-01]
 [ 1.00000000e+00  2.22222222e-02  4.44444444e-02  6.66666667e-02
  -9.11111111e-01 -8.88888889e-01 -8.66666667e-01 -8.44444444e-01
  -8.22222222e-01 -8.00000000e-01 -7.77777778e-01 -7.55555556e-01
  -7.33333333e-01 -7.11111111e-01 -6.88888889e-01 -6.66666667e-01
  -6.44444444e-01 -6.22222222e-01 -6.00000000e-01 -5.77777778e-01
  -5.55555556e-01 -5.33333333e-01 -5.11111111e-01 -4.88888889e-01
  -4.66666667e-01 -4.44444444e-01 -4.22222222e-01 -4.00000000e-01
  -3.77777778e-01 -3.55555556e-01 -3.33333333e-01 -3.11111111e-01
  -2.88888889e-01 -2.66666667e-01 -2.44444444e-01 -2.22222222e-01
  -2.00000000e-01 -1.77777778e-01 -1.55555556e-01 -1.33333333e-01
  -1.11111111e-01 -8.88888889e-02 -6.66666667e-02 -4.44444444e-02
  -2.22222222e-02  1.00000000e+00  1.66666667e-01  3.33333333e-01
   5.00000000e-01 -3.33333333e-01 -1.66666667e-01  1.00000000e+00
   1.66666667e-01  3.33333333e-01  5.00000000e-01 -3.33333333e-01
  -1.66666667e-01  5.35300000e+03  3.74000000e+02  3.76000000e+02
   7.26666667e+00]
 [ 1.00000000e+00  2.22222222e-02  4.44444444e-02  6.66666667e-02
   8.88888889e-02  1.11111111e-01  1.33333333e-01  1.55555556e-01
   1.77777778e-01  2.00000000e-01  2.22222222e-01  2.44444444e-01
   2.66666667e-01  2.88888889e-01  3.11111111e-01  3.33333333e-01
   3.55555556e-01  3.77777778e-01  4.00000000e-01  4.22222222e-01
   4.44444444e-01  4.66666667e-01  4.88888889e-01  5.11111111e-01
   5.33333333e-01  5.55555556e-01  5.77777778e-01  6.00000000e-01
   6.22222222e-01  6.44444444e-01  6.66666667e-01  6.88888889e-01
   7.11111111e-01  7.33333333e-01  7.55555556e-01 -2.22222222e-01
  -2.00000000e-01 -1.77777778e-01 -1.55555556e-01 -1.33333333e-01
  -1.11111111e-01 -8.88888889e-02 -6.66666667e-02 -4.44444444e-02
  -2.22222222e-02  1.00000000e+00  1.66666667e-01 -6.66666667e-01
  -5.00000000e-01 -3.33333333e-01 -1.66666667e-01  1.00000000e+00
   1.66666667e-01  3.33333333e-01  5.00000000e-01 -3.33333333e-01
  -1.66666667e-01  7.45300000e+03  1.49000000e+02  1.49000000e+02
   1.00000000e+01]]
4

In [26]:
# cost in this encoding
print(kmode.cost_)

11826102.0

In [27]:
# predict all the labels

labels = kmode.labels_

In [33]:
len(kmode.labels_)

2000000

In [34]:
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA

pca_2 = PCA(2)
plot_columns = pca_2.fit_transform(backd_df)

In [35]:
%matplotlib inline

In [ ]:
# plotting the all the clusters in 2D by using PCA

colors = ['red','blue','yellow','green','purple','cyan','brown']
fig = plt.figure(figsize = (15,10))
plt.scatter(x = plot_columns[:,0],y = plot_columns[:,1],c=[colors[l_] for l_ in labels] ,label = labels, alpha=0.01)
plt.show()

In [ ]:
labels = [colors[l_] for l_ in labels]

In [ ]:
# cluster distribution for the dataset

lab = pd.DataFrame(labels)
for col in colors:
    print(col, str(lab[lab[0]==col].count()))

# Approach #2 -Polynomial  Encoding

In [38]:
cluster_2016 = pd.read_csv('cluster_data_less.csv',index_col = False)
# dropping  the index column
cluster_2016 = cluster_2016.drop(columns=['Unnamed: 0'])
cluster_2016 = cluster_2016.drop(columns=['START_RENTAL_ZONE_HAL_ID', 'END_RENTAL_ZONE_HAL_ID'])
cleanup_months = {"Month":     {6:'June',5:'May',4:"April",3:'March' ,2: "February",1:"January"}}
cluster_2016.replace(cleanup_months, inplace=True)
cluster_2016.head()

,VEHICLE_HAL_ID,START_RENTAL_ZONE,END_RENTAL_ZONE,CITY_RENTAL_ZONE,TECHNICAL_INCOME_CHANNEL,Ride_Duration_new,Month
0,108647,Überseering/Mexikoring,Bebelallee/Meenkwiese,Hamburg,Android,28.800000,January
1,108371,Stadthausbrücke / Neuer Wall,Goldbekplatz / Semperstraße,Hamburg,iPhone,27.050000,January
2,119829,Jungfernstieg / Ballindamm,Hauptbahnhof Ost / Hachmannplatz,Hamburg,iPhone,11.216667,January
3,116810,Hudtwalckerstraße / Bebelallee,Kellinghusenstraße / Loogeplatz,Hamburg,others,75.383333,January
4,120345,Bahnhof Dammtor Nord // Theodor-Heuss-Platz,Feldstraße / Marktstraße,Hamburg,Android,8.983333,January

In [39]:
# converting all categorcal variable to dummy encoding

cluster_2016['START_RENTAL_ZONE']=cluster_2016['START_RENTAL_ZONE'].astype('category').cat.codes
cluster_2016['END_RENTAL_ZONE']=cluster_2016['END_RENTAL_ZONE'].astype('category').cat.codes
cluster_2016['VEHICLE_HAL_ID']=cluster_2016['VEHICLE_HAL_ID'].astype('category').cat.codes
#cluster_2016 = cluster_2016.drop(columns=['START_RENTAL_ZONE', 'END_RENTAL_ZONE'])
cluster_2016.head()

,VEHICLE_HAL_ID,START_RENTAL_ZONE,END_RENTAL_ZONE,CITY_RENTAL_ZONE,TECHNICAL_INCOME_CHANNEL,Ride_Duration_new,Month
0,1794,796,115,Hamburg,Android,28.800000,January
1,1574,683,318,Hamburg,iPhone,27.050000,January
2,6517,422,377,Hamburg,iPhone,11.216667,January
3,5127,401,437,Hamburg,others,75.383333,January
4,6984,94,266,Hamburg,Android,8.983333,January

In [40]:
import category_encoders as ce
encoder = ce.polynomial.PolynomialEncoder(cols=["CITY_RENTAL_ZONE","TECHNICAL_INCOME_CHANNEL","Month"])
encoder.fit(cluster_2016, verbose=1)
poly_df = encoder.transform(cluster_2016)

In [41]:
poly_df.head()

,col_CITY_RENTAL_ZONE_0,col_CITY_RENTAL_ZONE_1,col_CITY_RENTAL_ZONE_2,col_CITY_RENTAL_ZONE_3,col_CITY_RENTAL_ZONE_4,col_CITY_RENTAL_ZONE_5,col_CITY_RENTAL_ZONE_6,col_CITY_RENTAL_ZONE_7,col_CITY_RENTAL_ZONE_8,col_CITY_RENTAL_ZONE_9,col_CITY_RENTAL_ZONE_10,col_CITY_RENTAL_ZONE_11,col_CITY_RENTAL_ZONE_12,col_CITY_RENTAL_ZONE_13,col_CITY_RENTAL_ZONE_14,col_CITY_RENTAL_ZONE_15,col_CITY_RENTAL_ZONE_16,col_CITY_RENTAL_ZONE_17,col_CITY_RENTAL_ZONE_18,col_CITY_RENTAL_ZONE_19,col_CITY_RENTAL_ZONE_20,col_CITY_RENTAL_ZONE_21,col_CITY_RENTAL_ZONE_22,col_CITY_RENTAL_ZONE_23,col_CITY_RENTAL_ZONE_24,col_CITY_RENTAL_ZONE_25,col_CITY_RENTAL_ZONE_26,col_CITY_RENTAL_ZONE_27,col_CITY_RENTAL_ZONE_28,col_CITY_RENTAL_ZONE_29,col_CITY_RENTAL_ZONE_30,col_CITY_RENTAL_ZONE_31,col_CITY_RENTAL_ZONE_32,col_CITY_RENTAL_ZONE_33,col_CITY_RENTAL_ZONE_34,col_CITY_RENTAL_ZONE_35,col_CITY_RENTAL_ZONE_36,col_CITY_RENTAL_ZONE_37,col_CITY_RENTAL_ZONE_38,col_CITY_RENTAL_ZONE_39,col_CITY_RENTAL_ZONE_40,col_CITY_RENTAL_ZONE_41,col_CITY_RENTAL_ZONE_42,col_CITY_RENTAL_ZONE_43,col_CITY_RENTAL_ZONE_44,col_TECHNICAL_INCOME_CHANNEL_0,col_TECHNICAL_INCOME_CHANNEL_1,col_TECHNICAL_INCOME_CHANNEL_2,col_TECHNICAL_INCOME_CHANNEL_3,col_TECHNICAL_INCOME_CHANNEL_4,col_TECHNICAL_INCOME_CHANNEL_5,col_Month_0,col_Month_1,col_Month_2,col_Month_3,col_Month_4,col_Month_5,col_VEHICLE_HAL_ID,col_START_RENTAL_ZONE,col_END_RENTAL_ZONE,col_Ride_Duration_new
0,1.0,-0.252523,0.311825,-0.345127,0.357969,-0.353969,0.336502,-0.308996,0.274849,-0.237247,0.198969,-0.162251,0.12871,-0.099354,0.074637,-0.054566,0.038818,-0.026865,0.018083,-0.011833,0.007524,-0.004647,0.002785,-0.001619,0.000912,-0.000497,0.000262,-0.000134,0.000066,-0.000031,0.000014,-0.000006,0.000003,-0.000001,3.875912e-07,-1.389398e-07,4.705947e-08,-1.487207e-08,4.326767e-09,-1.137028e-09,2.039489e-10,-1.916536e-10,1.269234e-10,7.651156e-13,2.336223e-11,1.0,-0.597614,0.545545,-0.372678,0.188982,-0.062994,1.0,-0.597614,0.545545,-0.372678,0.188982,-0.062994,1794,796,115,28.800000
1,1.0,-0.252523,0.311825,-0.345127,0.357969,-0.353969,0.336502,-0.308996,0.274849,-0.237247,0.198969,-0.162251,0.12871,-0.099354,0.074637,-0.054566,0.038818,-0.026865,0.018083,-0.011833,0.007524,-0.004647,0.002785,-0.001619,0.000912,-0.000497,0.000262,-0.000134,0.000066,-0.000031,0.000014,-0.000006,0.000003,-0.000001,3.875912e-07,-1.389398e-07,4.705947e-08,-1.487207e-08,4.326767e-09,-1.137028e-09,2.039489e-10,-1.916536e-10,1.269234e-10,7.651156e-13,2.336223e-11,1.0,-0.358569,-0.109109,0.521749,-0.566947,0.314970,1.0,-0.597614,0.545545,-0.372678,0.188982,-0.062994,1574,683,318,27.050000
2,1.0,-0.252523,0.311825,-0.345127,0.357969,-0.353969,0.336502,-0.308996,0.274849,-0.237247,0.198969,-0.162251,0.12871,-0.099354,0.074637,-0.054566,0.038818,-0.026865,0.018083,-0.011833,0.007524,-0.004647,0.002785,-0.001619,0.000912,-0.000497,0.000262,-0.000134,0.000066,-0.000031,0.000014,-0.000006,0.000003,-0.000001,3.875912e-07,-1.389398e-07,4.705947e-08,-1.487207e-08,4.326767e-09,-1.137028e-09,2.039489e-10,-1.916536e-10,1.269234e-10,7.651156e-13,2.336223e-11,1.0,-0.358569,-0.109109,0.521749,-0.566947,0.314970,1.0,-0.597614,0.545545,-0.372678,0.188982,-0.062994,6517,422,377,11.216667
3,1.0,-0.252523,0.311825,-0.345127,0.357969,-0.353969,0.336502,-0.308996,0.274849,-0.237247,0.198969,-0.162251,0.12871,-0.099354,0.074637,-0.054566,0.038818,-0.026865,0.018083,-0.011833,0.007524,-0.004647,0.002785,-0.001619,0.000912,-0.000497,0.000262,-0.000134,0.000066,-0.000031,0.000014,-0.000006,0.000003,-0.000001,3.875912e-07,-1.389398e-07,4.705947e-08,-1.487207e-08,4.326767e-09,-1.137028e-09,2.039489e-10,-1.916536e-10,1.269234e-10,7.651156e-13,2.336223e-11,1.0,-0.119523,-0.436436,0.298142,0.377964,-0.629941,1.0,-0.597614,0.545545,-0.372678,0.188982,-0.062994,5127,401,437,75.383333
4,1.0,-0.252523,0.311825,-0.345127,0.357969,-0.353969,0.336502,-0.308996,0.274849,-0.237247,0.198969,-0.162251,0.12871,-0.099354,0.074637,-0.054566,0.038818,-0.026865,0.018083,-0.011833,0.007524,-0.004647,0.002785,-0.001619,0.000912,-0.000497,0.000262,-0.000134,0.000066,-0.000031,0.000014,-0.000006,0.000003,-0.000001,3.875912e-07,-1.389398e-07,4.705947e-08,-1.487207e-08,4.326767e-09,-1.137028e-09,2.039489e-10,-1.916536e-10,1.269234e-10,7.651156e-13,2.336223e-11,1.0,-0.597614,0.545545,-0.372678,0.188982,-0.062994,1.0,-0.597614,0.545545,-0.372678,0.188982,-0.062994,6984,94,266,8.983333

In [42]:
# To convert the value into numpy array

poly_df = poly_df.iloc[:, 0:].values

In [43]:
poly_df[0]

array([ 1.00000000e+00, -2.52523496e-01,  3.11825384e-01, -3.45127457e-01,
        3.57969178e-01, -3.53969396e-01,  3.36502476e-01, -3.08995635e-01,
        2.74848963e-01, -2.37247046e-01,  1.98969421e-01, -1.62250503e-01,
        1.28709819e-01, -9.93538158e-02,  7.46374012e-02, -5.45661559e-02,
        3.88180365e-02, -2.68654294e-02,  1.80830729e-02, -1.18331498e-02,
        7.52442493e-03, -4.64674955e-03,  2.78514501e-03, -1.61900194e-03,
        9.11972154e-04, -4.97318484e-04,  2.62261844e-04, -1.33582175e-04,
        6.56247157e-05, -3.10456012e-05,  1.41174053e-05, -6.15771604e-06,
        2.56995408e-06, -1.02336556e-06,  3.87591215e-07, -1.38939759e-07,
        4.70594706e-08, -1.48720653e-08,  4.32676668e-09, -1.13702769e-09,
        2.03948949e-10, -1.91653581e-10,  1.26923384e-10,  7.65115610e-13,
        2.33622288e-11,  1.00000000e+00, -5.97614305e-01,  5.45544726e-01,
       -3.72677996e-01,  1.88982237e-01, -6.29940788e-02,  1.00000000e+00,
       -5.97614305e-01,  5.45544726e-01, -3.72677996e-01,  1.88982237e-01,
       -6.29940788e-02,  1.79400000e+03,  7.96000000e+02,  1.15000000e+02,
        2.88000000e+01])

In [44]:
kmode = KModes(n_clusters=11, init='Cao', verbose=2)

clusters = kmode.fit_predict(poly_df)

# Print cluster centroids of the trained model.
print(kmode.cluster_centroids_)

# Print training statistics
print(kmode.n_iter_)

Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 1, iteration: 1/100, moves: 65907, cost: 23306928.0
Run 1, iteration: 2/100, moves: 26, cost: 23306928.0
[[ 1.00000000e+00 -2.52523496e-01  3.11825384e-01 -3.45127457e-01
   3.57969178e-01 -3.53969396e-01  3.36502476e-01 -3.08995635e-01
   2.74848963e-01 -2.37247046e-01  1.98969421e-01 -1.62250503e-01
   1.28709819e-01 -9.93538158e-02  7.46374012e-02 -5.45661559e-02
   3.88180365e-02 -2.68654294e-02  1.80830729e-02 -1.18331498e-02
   7.52442493e-03 -4.64674955e-03  2.78514501e-03 -1.61900194e-03
   9.11972154e-04 -4.97318484e-04  2.62261844e-04 -1.33582175e-04
   6.56247157e-05 -3.10456012e-05  1.41174053e-05 -6.15771604e-06
   2.56995408e-06 -1.02336556e-06  3.87591215e-07 -1.38939759e-07
   4.70594706e-08 -1.48720653e-08  4.32676668e-09 -1.13702769e-09
   2.03948949e-10 -1.91653581e-10  1.26923384e-10  7.65115610e-13
   2.33622288e-11  1.00000000e+00 -3.58568583e-01 -1.09108945e-01
   5.21749195e-01 -5.66946710e-01  3.14970394e-01  1.00000000e+00
   3.58568583e-01 -1.09108945e-01 -5.21749195e-01 -5.66946710e-01
  -3.14970394e-01  2.86800000e+03  5.30000000e+01  5.40000000e+01
   4.33333333e-01]
 [ 1.00000000e+00 -2.18088474e-01  1.90193707e-01 -9.50637996e-02
  -3.17858466e-02  1.49295760e-01 -2.21607867e-01  2.27990437e-01
  -1.67930973e-01  5.99387356e-02  6.51112559e-02 -1.73570306e-01
   2.38371674e-01 -2.45443835e-01  1.95745658e-01 -1.03018134e-01
  -1.14074145e-02  1.24797263e-01 -2.18354062e-01  2.80493183e-01
  -3.07690120e-01  3.03281456e-01 -2.75049263e-01  2.32509901e-01
  -1.84636212e-01  1.38407518e-01 -9.82464497e-02  6.61624357e-02
  -4.23139273e-02  2.57080805e-02 -1.48337108e-02  8.12200281e-03
  -4.21406879e-03  2.06784044e-03 -9.57337257e-04  4.16447150e-04
  -1.69961186e-04  6.43470963e-05 -2.23429590e-05  6.90936777e-06
  -1.36784002e-06  1.47218291e-06 -1.04535222e-06 -4.72356010e-08
  -2.32669195e-07  1.00000000e+00 -3.58568583e-01 -1.09108945e-01
   5.21749195e-01 -5.66946710e-01  3.14970394e-01  1.00000000e+00
   1.19522861e-01 -4.36435780e-01 -2.98142397e-01  3.77964473e-01
   6.29940788e-01  8.57600000e+03  3.74000000e+02  3.76000000e+02
   7.13333333e+00]
 [ 1.00000000e+00 -1.95131792e-01  1.18994676e-01  2.12642710e-02
  -1.51951852e-01  2.08515773e-01 -1.64216956e-01  4.11718002e-02
   1.01844204e-01 -1.98197256e-01  2.04418872e-01 -1.18903942e-01
  -1.94329063e-02  1.50367873e-01 -2.19357294e-01  1.99798286e-01
  -1.01581835e-01 -3.59844686e-02  1.61933158e-01 -2.33463231e-01
   2.29829220e-01 -1.56094413e-01  3.73032487e-02  9.28609044e-02
  -2.03753320e-01  2.75748817e-01 -3.02857917e-01  2.90632326e-01
  -2.51415529e-01  1.99226921e-01 -1.45924513e-01  9.93053146e-02
  -6.29585627e-02  3.72229433e-02 -2.05179987e-02  1.05202428e-02
  -5.01520429e-03  2.20178294e-03 -8.81949561e-04  3.10042493e-04
  -6.59767668e-05  7.90244371e-05 -5.83412978e-05 -4.52290188e-06
  -1.48663444e-05  1.00000000e+00 -3.58568583e-01 -1.09108945e-01
   5.21749195e-01 -5.66946710e-01  3.14970394e-01  1.00000000e+00
   3.58568583e-01 -1.09108945e-01 -5.21749195e-01 -5.66946710e-01
  -3.14970394e-01  2.05200000e+03  5.30000000e+01  5.40000000e+01
   7.00000000e+00]
 [ 1.00000000e+00 -1.60696770e-01  2.70292617e-02  1.30608488e-01
  -1.89146092e-01  1.04385653e-01  5.93443177e-02 -1.79395368e-01
   1.66811157e-01 -3.12884217e-02 -1.27796365e-01  1.95308846e-01
  -1.23367277e-01 -3.64026812e-02  1.71923437e-01 -1.90103480e-01
   7.95542506e-02  8.50344658e-02 -1.95787563e-01  1.82708551e-01
  -5.56076080e-02 -1.06842756e-01  2.08756590e-01 -1.93735709e-01
   7.28310850e-02  8.81185055e-02 -2.08524856e-01  2.34412773e-01
  -1.59477525e-01  1.95151695e-02  1.31032048e-01 -2.44995504e-01
   2.98483258e-01 -2.92921347e-01  2.46630781e-01 -1.82909744e-01
   1.21225992e-01 -7.18917205e-02  3.81098449e-02 -1.70334848e-02
   4.08518010e-03 -6.02938690e-03  4.60636617e-03  6.49783320e-04
   1.48166277e-03  1.00000000e+00 -3.58568583e-01 -1.09108945e-01
   5.21749195e-01 -5.66946710e-01  3.14970394e-01  1.00000000e+00
   3.58568583e-01 -1.09108945e-01 -5.21749195e-01 -5.66946710e-01
  -3.14970394e-01  4.05000000e+03  5.30000000e+01  5.40000000e+01
   6.85000000e+00]
 [ 1.00000000e+00 -2.52523496e-01  3.11825384e-01 -3.45127457e-01
   3.57969178e-01 -3.53969396e-01  3.36502476e-01 -3.08995635e-01
   2.74848963e-01 -2.37247046e-01  1.98969421e-01 -1.62250503e-01
   1.28709819e-01 -9.93538158e-02  7.46374012e-02 -5.45661559e-02
   3.88180365e-02 -2.68654294e-02  1.80830729e-02 -1.18331498e-02
   7.52442493e-03 -4.64674955e-03  2.78514501e-03 -1.61900194e-03
   9.11972154e-04 -4.97318484e-04  2.62261844e-04 -1.33582175e-04
   6.56247157e-05 -3.10456012e-05  1.41174053e-05 -6.15771604e-06
   2.56995408e-06 -1.02336556e-06  3.87591215e-07 -1.38939759e-07
   4.70594706e-08 -1.48720653e-08  4.32676668e-09 -1.13702769e-09
   2.03948949e-10 -1.91653581e-10  1.26923384e-10  7.65115610e-13
   2.33622288e-11  1.00000000e+00 -5.97614305e-01  5.45544726e-01
  -3.72677996e-01  1.88982237e-01 -6.29940788e-02  1.00000000e+00
   1.19522861e-01 -4.36435780e-01 -2.98142397e-01  3.77964473e-01
   6.29940788e-01  7.02300000e+03  6.57000000e+02  6.58000000e+02
   4.71666667e+00]
 [ 1.00000000e+00 -1.72175111e-01  5.57066490e-02  1.02151890e-01
  -1.91822601e-01  1.53393431e-01 -1.30004646e-02 -1.36537148e-01
   1.97692658e-01 -1.31420880e-01 -1.92275134e-02  1.58583798e-01
  -1.99850982e-01  1.18460713e-01  3.52519608e-02 -1.69247091e-01
   2.05759813e-01 -1.25317746e-01 -2.56354810e-02  1.64401783e-01
  -2.18679739e-01  1.63057947e-01 -2.74454482e-02 -1.22930776e-01
   2.21611543e-01 -2.30232294e-01  1.50272290e-01 -1.55148073e-02
  -1.27146984e-01  2.37558555e-01 -2.94461421e-01  2.97293095e-01
  -2.60126215e-01  2.02645679e-01 -1.42460416e-01  9.09285569e-02
  -5.29360102e-02  2.79690041e-02 -1.33408256e-02  5.45809751e-03
  -1.25593775e-03  1.71311837e-03 -1.29988090e-03 -1.52209395e-04
  -3.84542968e-04  1.00000000e+00 -3.58568583e-01 -1.09108945e-01
   5.21749195e-01 -5.66946710e-01  3.14970394e-01  1.00000000e+00
   3.58568583e-01 -1.09108945e-01 -5.21749195e-01 -5.66946710e-01
  -3.14970394e-01  3.21300000e+03  1.07000000e+02  1.07000000e+02
   6.98333333e+00]
 [ 1.00000000e+00 -2.52523496e-01  3.11825384e-01 -3.45127457e-01
   3.57969178e-01 -3.53969396e-01  3.36502476e-01 -3.08995635e-01
   2.74848963e-01 -2.37247046e-01  1.98969421e-01 -1.62250503e-01
   1.28709819e-01 -9.93538158e-02  7.46374012e-02 -5.45661559e-02
   3.88180365e-02 -2.68654294e-02  1.80830729e-02 -1.18331498e-02
   7.52442493e-03 -4.64674955e-03  2.78514501e-03 -1.61900194e-03
   9.11972154e-04 -4.97318484e-04  2.62261844e-04 -1.33582175e-04
   6.56247157e-05 -3.10456012e-05  1.41174053e-05 -6.15771604e-06
   2.56995408e-06 -1.02336556e-06  3.87591215e-07 -1.38939759e-07
   4.70594706e-08 -1.48720653e-08  4.32676668e-09 -1.13702769e-09
   2.03948949e-10 -1.91653581e-10  1.26923384e-10  7.65115610e-13
   2.33622288e-11  1.00000000e+00 -1.19522861e-01 -4.36435780e-01
   2.98142397e-01  3.77964473e-01 -6.29940788e-01  1.00000000e+00
  -1.19522861e-01 -4.36435780e-01  2.98142397e-01  3.77964473e-01
  -6.29940788e-01  6.61500000e+03  3.17000000e+02  3.18000000e+02
   6.28333333e+00]
 [ 1.00000000e+00 -2.52523496e-01  3.11825384e-01 -3.45127457e-01
   3.57969178e-01 -3.53969396e-01  3.36502476e-01 -3.08995635e-01
   2.74848963e-01 -2.37247046e-01  1.98969421e-01 -1.62250503e-01
   1.28709819e-01 -9.93538158e-02  7.46374012e-02 -5.45661559e-02
   3.88180365e-02 -2.68654294e-02  1.80830729e-02 -1.18331498e-02
   7.52442493e-03 -4.64674955e-03  2.78514501e-03 -1.61900194e-03
   9.11972154e-04 -4.97318484e-04  2.62261844e-04 -1.33582175e-04
   6.56247157e-05 -3.10456012e-05  1.41174053e-05 -6.15771604e-06
   2.56995408e-06 -1.02336556e-06  3.87591215e-07 -1.38939759e-07
   4.70594706e-08 -1.48720653e-08  4.32676668e-09 -1.13702769e-09
   2.03948949e-10 -1.91653581e-10  1.26923384e-10  7.65115610e-13
   2.33622288e-11  1.00000000e+00  1.19522861e-01 -4.36435780e-01
  -2.98142397e-01  3.77964473e-01  6.29940788e-01  1.00000000e+00
  -3.58568583e-01 -1.09108945e-01  5.21749195e-01 -5.66946710e-01
   3.14970394e-01  9.72000000e+02  4.77000000e+02  4.24000000e+02
   8.38333333e+00]
 [ 1.00000000e+00 -2.29566814e-01  2.28759849e-01 -1.67820962e-01
   6.65989168e-02  5.01394282e-02 -1.56512780e-01  2.30603508e-01
  -2.58578834e-01  2.36745466e-01 -1.71206246e-01  7.54653504e-02
   3.31978816e-02 -1.37582980e-01  2.23754408e-01 -2.82982622e-01
   3.12267714e-01 -3.13638269e-01  2.92655229e-01 -2.56626746e-01
   2.12974632e-01 -1.68039431e-01  1.26432629e-01 -9.08934389e-02
   6.25134737e-02 -4.11607272e-02  2.59517247e-02 -1.56661112e-02
   9.05010598e-03 -4.99899740e-03  2.63717949e-03 -1.32664322e-03
   6.35137371e-04 -2.88685308e-04  1.24226691e-04 -5.03833868e-05
   1.92274892e-05 -6.82314155e-06  2.22422622e-06 -6.49311354e-07
   1.24234943e-07 -1.27464688e-07  8.85257612e-08  2.74586974e-09
   1.84708721e-08  1.00000000e+00 -5.97614305e-01  5.45544726e-01
  -3.72677996e-01  1.88982237e-01 -6.29940788e-02  1.00000000e+00
   3.58568583e-01 -1.09108945e-01 -5.21749195e-01 -5.66946710e-01
  -3.14970394e-01  4.06400000e+03  2.01000000e+02  2.02000000e+02
   6.58333333e+00]
 [ 1.00000000e+00 -2.52523496e-01  3.11825384e-01 -3.45127457e-01
   3.57969178e-01 -3.53969396e-01  3.36502476e-01 -3.08995635e-01
   2.74848963e-01 -2.37247046e-01  1.98969421e-01 -1.62250503e-01
   1.28709819e-01 -9.93538158e-02  7.46374012e-02 -5.45661559e-02
   3.88180365e-02 -2.68654294e-02  1.80830729e-02 -1.18331498e-02
   7.52442493e-03 -4.64674955e-03  2.78514501e-03 -1.61900194e-03
   9.11972154e-04 -4.97318484e-04  2.62261844e-04 -1.33582175e-04
   6.56247157e-05 -3.10456012e-05  1.41174053e-05 -6.15771604e-06
   2.56995408e-06 -1.02336556e-06  3.87591215e-07 -1.38939759e-07
   4.70594706e-08 -1.48720653e-08  4.32676668e-09 -1.13702769e-09
   2.03948949e-10 -1.91653581e-10  1.26923384e-10  7.65115610e-13
   2.33622288e-11  1.00000000e+00  3.58568583e-01 -1.09108945e-01
  -5.21749195e-01 -5.66946710e-01 -3.14970394e-01  1.00000000e+00
  -5.97614305e-01  5.45544726e-01 -3.72677996e-01  1.88982237e-01
  -6.29940788e-02  6.83600000e+03  2.24000000e+02  4.79000000e+02
   7.01666667e+00]
 [ 1.00000000e+00 -2.06610133e-01  1.53605316e-01 -3.22091163e-02
  -1.03497818e-01  1.98166644e-01 -2.14866713e-01  1.48132440e-01
  -2.45610918e-02 -1.08793790e-01  2.03000080e-01 -2.25199649e-01
   1.69261410e-01 -5.59297482e-02 -7.64231875e-02  1.86005511e-01
  -2.41165033e-01  2.28790645e-01 -1.55610657e-01  4.32352650e-02
   8.02738538e-02 -1.88972208e-01  2.65122741e-01 -3.01615981e-01
   3.00978828e-01 -2.72197894e-01  2.26875736e-01 -1.75961989e-01
   1.27729001e-01 -8.70781096e-02  5.58615322e-02 -3.37469016e-02
   1.91948186e-02 -1.02687331e-02  5.15818233e-03 -2.42445945e-03
   1.06504543e-03 -4.32673788e-04  1.60857341e-04 -5.29095086e-05
   1.08520242e-05 -1.22945847e-05  8.91120583e-06  5.40244645e-07
   2.11961410e-06  1.00000000e+00 -5.97614305e-01  5.45544726e-01
  -3.72677996e-01  1.88982237e-01 -6.29940788e-02  1.00000000e+00
   3.58568583e-01 -1.09108945e-01 -5.21749195e-01 -5.66946710e-01
  -3.14970394e-01  4.21600000e+03  3.71000000e+02  3.73000000e+02
   6.61666667e+00]]
2

In [45]:
# cost in this encoding
print(kmode.cost_)

23306928.0

In [46]:
# predict all the labels

labels = kmode.labels_

In [ ]:
%matplotlib inline
# plotting the all the clusters in 2D by using PCA
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA

pca_2 = PCA(2)
plot_columns = pca_2.fit_transform(poly_df)

colors = ['red','blue','yellow','green','purple','cyan','brown','pink','coral','orange','violet']
fig = plt.figure(figsize = (15,10))
plt.scatter(x = plot_columns[:,0],y = plot_columns[:,1],c=[colors[l_] for l_ in labels] ,label = labels, alpha=0.01)
plt.show()

In [ ]:
labels = [colors[l_] for l_ in labels]

In [ ]:

# cluster distribution for the dataset

lab = pd.DataFrame(labels)
for col in colors:
    print(col, str(lab[lab[0]==col].count()))

# Approach #3 -- Helmert Coding

In [48]:
cluster_2016 = pd.read_csv('cluster_data_less.csv',index_col = False)
# dropping  the index column
cluster_2016 = cluster_2016.drop(columns=['Unnamed: 0'])
cluster_2016 = cluster_2016.drop(columns=['START_RENTAL_ZONE_HAL_ID', 'END_RENTAL_ZONE_HAL_ID'])
cleanup_months = {"Month":     {6:'June',5:'May',4:"April",3:'March' ,2: "February",1:"January"}}
cluster_2016.replace(cleanup_months, inplace=True)
cluster_2016.head()

,VEHICLE_HAL_ID,START_RENTAL_ZONE,END_RENTAL_ZONE,CITY_RENTAL_ZONE,TECHNICAL_INCOME_CHANNEL,Ride_Duration_new,Month
0,108647,Überseering/Mexikoring,Bebelallee/Meenkwiese,Hamburg,Android,28.800000,January
1,108371,Stadthausbrücke / Neuer Wall,Goldbekplatz / Semperstraße,Hamburg,iPhone,27.050000,January
2,119829,Jungfernstieg / Ballindamm,Hauptbahnhof Ost / Hachmannplatz,Hamburg,iPhone,11.216667,January
3,116810,Hudtwalckerstraße / Bebelallee,Kellinghusenstraße / Loogeplatz,Hamburg,others,75.383333,January
4,120345,Bahnhof Dammtor Nord // Theodor-Heuss-Platz,Feldstraße / Marktstraße,Hamburg,Android,8.983333,January

In [49]:
# converting all categorcal variable to dummy encoding

cluster_2016['START_RENTAL_ZONE']=cluster_2016['START_RENTAL_ZONE'].astype('category').cat.codes
cluster_2016['END_RENTAL_ZONE']=cluster_2016['END_RENTAL_ZONE'].astype('category').cat.codes
cluster_2016['VEHICLE_HAL_ID']=cluster_2016['VEHICLE_HAL_ID'].astype('category').cat.codes
#cluster_2016 = cluster_2016.drop(columns=['START_RENTAL_ZONE', 'END_RENTAL_ZONE'])
cluster_2016.head()

,VEHICLE_HAL_ID,START_RENTAL_ZONE,END_RENTAL_ZONE,CITY_RENTAL_ZONE,TECHNICAL_INCOME_CHANNEL,Ride_Duration_new,Month
0,1794,796,115,Hamburg,Android,28.800000,January
1,1574,683,318,Hamburg,iPhone,27.050000,January
2,6517,422,377,Hamburg,iPhone,11.216667,January
3,5127,401,437,Hamburg,others,75.383333,January
4,6984,94,266,Hamburg,Android,8.983333,January

In [50]:
import category_encoders as ce
encoder = ce.helmert.HelmertEncoder(cols=["CITY_RENTAL_ZONE","TECHNICAL_INCOME_CHANNEL","Month"])
encoder.fit(cluster_2016, verbose=1)
helm_df = encoder.transform(cluster_2016)

In [51]:
helm_df.head()

,col_CITY_RENTAL_ZONE_0,col_CITY_RENTAL_ZONE_1,col_CITY_RENTAL_ZONE_2,col_CITY_RENTAL_ZONE_3,col_CITY_RENTAL_ZONE_4,col_CITY_RENTAL_ZONE_5,col_CITY_RENTAL_ZONE_6,col_CITY_RENTAL_ZONE_7,col_CITY_RENTAL_ZONE_8,col_CITY_RENTAL_ZONE_9,col_CITY_RENTAL_ZONE_10,col_CITY_RENTAL_ZONE_11,col_CITY_RENTAL_ZONE_12,col_CITY_RENTAL_ZONE_13,col_CITY_RENTAL_ZONE_14,col_CITY_RENTAL_ZONE_15,col_CITY_RENTAL_ZONE_16,col_CITY_RENTAL_ZONE_17,col_CITY_RENTAL_ZONE_18,col_CITY_RENTAL_ZONE_19,col_CITY_RENTAL_ZONE_20,col_CITY_RENTAL_ZONE_21,col_CITY_RENTAL_ZONE_22,col_CITY_RENTAL_ZONE_23,col_CITY_RENTAL_ZONE_24,col_CITY_RENTAL_ZONE_25,col_CITY_RENTAL_ZONE_26,col_CITY_RENTAL_ZONE_27,col_CITY_RENTAL_ZONE_28,col_CITY_RENTAL_ZONE_29,col_CITY_RENTAL_ZONE_30,col_CITY_RENTAL_ZONE_31,col_CITY_RENTAL_ZONE_32,col_CITY_RENTAL_ZONE_33,col_CITY_RENTAL_ZONE_34,col_CITY_RENTAL_ZONE_35,col_CITY_RENTAL_ZONE_36,col_CITY_RENTAL_ZONE_37,col_CITY_RENTAL_ZONE_38,col_CITY_RENTAL_ZONE_39,col_CITY_RENTAL_ZONE_40,col_CITY_RENTAL_ZONE_41,col_CITY_RENTAL_ZONE_42,col_CITY_RENTAL_ZONE_43,col_CITY_RENTAL_ZONE_44,col_TECHNICAL_INCOME_CHANNEL_0,col_TECHNICAL_INCOME_CHANNEL_1,col_TECHNICAL_INCOME_CHANNEL_2,col_TECHNICAL_INCOME_CHANNEL_3,col_TECHNICAL_INCOME_CHANNEL_4,col_TECHNICAL_INCOME_CHANNEL_5,col_Month_0,col_Month_1,col_Month_2,col_Month_3,col_Month_4,col_Month_5,col_VEHICLE_HAL_ID,col_START_RENTAL_ZONE,col_END_RENTAL_ZONE,col_Ride_Duration_new
0,1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,1.0,-1.0,-1.0,-1.0,-1.0,-1.0,1.0,-1.0,-1.0,-1.0,-1.0,-1.0,1794,796,115,28.800000
1,1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,1.0,1.0,-1.0,-1.0,-1.0,-1.0,1.0,-1.0,-1.0,-1.0,-1.0,-1.0,1574,683,318,27.050000
2,1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,1.0,1.0,-1.0,-1.0,-1.0,-1.0,1.0,-1.0,-1.0,-1.0,-1.0,-1.0,6517,422,377,11.216667
3,1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,1.0,0.0,2.0,-1.0,-1.0,-1.0,1.0,-1.0,-1.0,-1.0,-1.0,-1.0,5127,401,437,75.383333
4,1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,1.0,-1.0,-1.0,-1.0,-1.0,-1.0,1.0,-1.0,-1.0,-1.0,-1.0,-1.0,6984,94,266,8.983333

In [52]:
# To convert the value into numpy array

helm_df = helm_df.iloc[:, 0:].values
helm_df[0]

array([ 1.000e+00, -1.000e+00, -1.000e+00, -1.000e+00, -1.000e+00,
       -1.000e+00, -1.000e+00, -1.000e+00, -1.000e+00, -1.000e+00,
       -1.000e+00, -1.000e+00, -1.000e+00, -1.000e+00, -1.000e+00,
       -1.000e+00, -1.000e+00, -1.000e+00, -1.000e+00, -1.000e+00,
       -1.000e+00, -1.000e+00, -1.000e+00, -1.000e+00, -1.000e+00,
       -1.000e+00, -1.000e+00, -1.000e+00, -1.000e+00, -1.000e+00,
       -1.000e+00, -1.000e+00, -1.000e+00, -1.000e+00, -1.000e+00,
       -1.000e+00, -1.000e+00, -1.000e+00, -1.000e+00, -1.000e+00,
       -1.000e+00, -1.000e+00, -1.000e+00, -1.000e+00, -1.000e+00,
        1.000e+00, -1.000e+00, -1.000e+00, -1.000e+00, -1.000e+00,
       -1.000e+00,  1.000e+00, -1.000e+00, -1.000e+00, -1.000e+00,
       -1.000e+00, -1.000e+00,  1.794e+03,  7.960e+02,  1.150e+02,
        2.880e+01])

In [ ]:
# with 'Cao' initilization as it is a optimized initializer and verbose is information to see.
# no of cluster is 7 according elbow method with lower cost
from kmodes.kprototypes import KPrototypes
kproto = KPrototypes(n_clusters=7, init='Cao', verbose=2)

# fit the data in numpy array format , and given all the  categorical features index
clusters = kproto.fit(helm_df, categorical=[0, 1, 2, 3, 4, 6])

# Print cluster centroids of the trained model.
print(kproto.cluster_centroids_)

# Print training statistics
print(kproto.n_iter_)

Initialization method and algorithm are deterministic. Setting n_init to 1.
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 1, iteration: 1/100, moves: 351376, ncost: 1968028003276.718
Run: 1, iteration: 2/100, moves: 141253, ncost: 1947299842841.7034
Run: 1, iteration: 3/100, moves: 97750, ncost: 1937780186679.952
Run: 1, iteration: 4/100, moves: 72141, ncost: 1932617416600.5193
Run: 1, iteration: 5/100, moves: 50644, ncost: 1930031794803.8835
Run: 1, iteration: 6/100, moves: 40779, ncost: 1928211882550.071
Run: 1, iteration: 7/100, moves: 27987, ncost: 1927380379380.579
Run: 1, iteration: 8/100, moves: 19875, ncost: 1926995943447.7485
Run: 1, iteration: 9/100, moves: 13531, ncost: 1926823310955.7366
Run: 1, iteration: 10/100, moves: 10832, ncost: 1926674719537.378
Run: 1, iteration: 11/100, moves: 11232, ncost: 1926515249364.2874
Run: 1, iteration: 12/100, moves: 9510, ncost: 1926422974164.011
Run: 1, iteration: 13/100, moves: 5855, ncost: 1926389130599.8423
Run: 1, iteration: 14/100, moves: 3945, ncost: 1926372510431.966
Run: 1, iteration: 15/100, moves: 2569, ncost: 1926364780731.8694
Run: 1, iteration: 16/100, moves: 1733, ncost: 1926361213713.1985
Run: 1, iteration: 17/100, moves: 1252, ncost: 1926359266193.6462
Run: 1, iteration: 18/100, moves: 1050, ncost: 1926357913979.1785
Run: 1, iteration: 19/100, moves: 859, ncost: 1926357007846.3235
Run: 1, iteration: 20/100, moves: 717, ncost: 1926356357941.726
Run: 1, iteration: 21/100, moves: 671, ncost: 1926355839365.1826
Run: 1, iteration: 22/100, moves: 692, ncost: 1926355329863.6765
Run: 1, iteration: 23/100, moves: 1026, ncost: 1926353437146.9219
Run: 1, iteration: 24/100, moves: 1446, ncost: 1926349950669.365
Run: 1, iteration: 25/100, moves: 803, ncost: 1926349200307.387
Run: 1, iteration: 26/100, moves: 366, ncost: 1926349063013.9612
Run: 1, iteration: 27/100, moves: 193, ncost: 1926349027020.569
Run: 1, iteration: 28/100, moves: 109, ncost: 1926349015376.47
Run: 1, iteration: 29/100, moves: 36, ncost: 1926349013866.7844

In [ ]:
# cost in this encoding
print(kmode.cost_)

In [ ]:
# predict all the labels

labels = kmode.labels_

In [ ]:
%matplotlib inline
# plotting the all the clusters in 2D by using PCA

import matplotlib.pyplot as plt
from sklearn.decomposition import PCA

pca_2 = PCA(2)
plot_columns = pca_2.fit_transform(helm_df)

colors = ['red','blue','yellow','green','purple','cyan','brown','pink','coral','orange','violet']
fig = plt.figure(figsize = (15,10))
plt.scatter(x = plot_columns[:,0],y = plot_columns[:,1],c=[colors[l_] for l_ in labels] ,label = labels, alpha=0.01)
plt.show()

In [ ]:
labels = [colors[l_] for l_ in labels]
# cluster distribution for the dataset

lab = pd.DataFrame(labels)
for col in colors:
    print(col, str(lab[lab[0]==col].count()))