In [19]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
import numpy as np
from kmodes.kmodes import KModes

In [2]:
# To see all columns in print

pd.options.display.max_columns = None

In [3]:
cluster_2016 = pd.read_csv('cluster_data_less.csv',index_col = False)
# dropping  the index column
cluster_2016 = cluster_2016.drop(columns=['Unnamed: 0'])
cluster_2016.head()

,VEHICLE_HAL_ID,START_RENTAL_ZONE,START_RENTAL_ZONE_HAL_ID,END_RENTAL_ZONE,END_RENTAL_ZONE_HAL_ID,CITY_RENTAL_ZONE,TECHNICAL_INCOME_CHANNEL,Ride_Duration_new,Month
0,108647,Überseering/Mexikoring,213687.0,Bebelallee/Meenkwiese,213855.0,Hamburg,Android,28.800000,1
1,108371,Stadthausbrücke / Neuer Wall,138379.0,Goldbekplatz / Semperstraße,140796.0,Hamburg,iPhone,27.050000,1
2,119829,Jungfernstieg / Ballindamm,131879.0,Hauptbahnhof Ost / Hachmannplatz,131873.0,Hamburg,iPhone,11.216667,1
3,116810,Hudtwalckerstraße / Bebelallee,138378.0,Kellinghusenstraße / Loogeplatz,140795.0,Hamburg,others,75.383333,1
4,120345,Bahnhof Dammtor Nord // Theodor-Heuss-Platz,131883.0,Feldstraße / Marktstraße,244093.0,Hamburg,Android,8.983333,1

In [4]:
# preprocessing to get the original data with all categorical variable

cleanup_months = {"Month":     {6:'June',5:'May',4:"April",3:'March' ,2: "February",1:"January"}}
cluster_2016.replace(cleanup_months, inplace=True)
cluster_2016 = cluster_2016.drop(columns=['START_RENTAL_ZONE_HAL_ID', 'END_RENTAL_ZONE_HAL_ID'])
cluster_2016.head()

,VEHICLE_HAL_ID,START_RENTAL_ZONE,END_RENTAL_ZONE,CITY_RENTAL_ZONE,TECHNICAL_INCOME_CHANNEL,Ride_Duration_new,Month
0,108647,Überseering/Mexikoring,Bebelallee/Meenkwiese,Hamburg,Android,28.800000,January
1,108371,Stadthausbrücke / Neuer Wall,Goldbekplatz / Semperstraße,Hamburg,iPhone,27.050000,January
2,119829,Jungfernstieg / Ballindamm,Hauptbahnhof Ost / Hachmannplatz,Hamburg,iPhone,11.216667,January
3,116810,Hudtwalckerstraße / Bebelallee,Kellinghusenstraße / Loogeplatz,Hamburg,others,75.383333,January
4,120345,Bahnhof Dammtor Nord // Theodor-Heuss-Platz,Feldstraße / Marktstraße,Hamburg,Android,8.983333,January

In [5]:
cluster_2016['TECHNICAL_INCOME_CHANNEL'].unique()

array(['Android', 'iPhone', 'others', 'IVR', 'Windows', 'BlackBerry'],
      dtype=object)

In [6]:
cluster_2016['Month'].unique()

array(['January', 'February', 'March', 'April', 'May', 'June'],
      dtype=object)

In [7]:
! pip install kmodes
! pip install --upgrade pip
! pip install category_encoders

Requirement already satisfied: kmodes in ./anaconda3/lib/python3.6/site-packages (0.8)
Requirement already satisfied: scikit-learn<0.20.0,>=0.19.0 in ./anaconda3/lib/python3.6/site-packages (from kmodes) (0.19.1)
Requirement already satisfied: scipy>=0.13.3 in ./anaconda3/lib/python3.6/site-packages (from kmodes) (1.0.0)
Requirement already satisfied: numpy>=1.10.4 in ./anaconda3/lib/python3.6/site-packages (from kmodes) (1.14.2)
Requirement already up-to-date: pip in ./anaconda3/lib/python3.6/site-packages (10.0.1)
Requirement already satisfied: category_encoders in ./anaconda3/lib/python3.6/site-packages (1.2.6)
Requirement already satisfied: scipy>=0.9 in ./anaconda3/lib/python3.6/site-packages (from category_encoders) (1.0.0)
Requirement already satisfied: statsmodels>=0.6.0 in ./anaconda3/lib/python3.6/site-packages (from category_encoders) (0.8.0)
Requirement already satisfied: patsy>=0.4.0 in ./anaconda3/lib/python3.6/site-packages (from category_encoders) (0.5.0)
Requirement already satisfied: numpy>=1.8.0 in ./anaconda3/lib/python3.6/site-packages (from category_encoders) (1.14.2)
Requirement already satisfied: scikit-learn>=0.15.0 in ./anaconda3/lib/python3.6/site-packages (from category_encoders) (0.19.1)
Requirement already satisfied: pandas>=0.15.0 in ./anaconda3/lib/python3.6/site-packages (from category_encoders) (0.22.0)
Requirement already satisfied: six in ./anaconda3/lib/python3.6/site-packages (from patsy>=0.4.0->category_encoders) (1.11.0)
Requirement already satisfied: python-dateutil>=2 in ./anaconda3/lib/python3.6/site-packages (from pandas>=0.15.0->category_encoders) (2.7.2)
Requirement already satisfied: pytz>=2011k in ./anaconda3/lib/python3.6/site-packages (from pandas>=0.15.0->category_encoders) (2018.4)

## Why choose label encoding with other 3 other encoding

* Label encoding uses for features VEHICLE_HAL_ID,	START_RENTAL_ZONE,	END_RENTAL_ZONE.
* As these features have lots of classes. If we use other encoding the dimention of the dataset is too big too handle.
* For CITY_RENTAL_ZONE,	TECHNICAL_INCOME_CHANNEL,	Ride_Duration_new,	Month we choose 3 encoding as these have small classes.
* And these encoding doesn't produce sparse matrix.

# Implementation

In [8]:
cluster_2016 = pd.read_csv('cluster_data_less.csv',index_col = False)
# dropping  the index column
cluster_2016 = cluster_2016.drop(columns=['Unnamed: 0'])
cluster_2016 = cluster_2016.drop(columns=['START_RENTAL_ZONE_HAL_ID', 'END_RENTAL_ZONE_HAL_ID'])
cleanup_months = {"Month":     {6:'June',5:'May',4:"April",3:'March' ,2: "February",1:"January"}}
cluster_2016.replace(cleanup_months, inplace=True)
cluster_2016.head()

,VEHICLE_HAL_ID,START_RENTAL_ZONE,END_RENTAL_ZONE,CITY_RENTAL_ZONE,TECHNICAL_INCOME_CHANNEL,Ride_Duration_new,Month
0,108647,Überseering/Mexikoring,Bebelallee/Meenkwiese,Hamburg,Android,28.800000,January
1,108371,Stadthausbrücke / Neuer Wall,Goldbekplatz / Semperstraße,Hamburg,iPhone,27.050000,January
2,119829,Jungfernstieg / Ballindamm,Hauptbahnhof Ost / Hachmannplatz,Hamburg,iPhone,11.216667,January
3,116810,Hudtwalckerstraße / Bebelallee,Kellinghusenstraße / Loogeplatz,Hamburg,others,75.383333,January
4,120345,Bahnhof Dammtor Nord // Theodor-Heuss-Platz,Feldstraße / Marktstraße,Hamburg,Android,8.983333,January

In [9]:
# converting all categorcal variable to dummy encoding

cluster_2016['START_RENTAL_ZONE']=cluster_2016['START_RENTAL_ZONE'].astype('category').cat.codes
cluster_2016['END_RENTAL_ZONE']=cluster_2016['END_RENTAL_ZONE'].astype('category').cat.codes
cluster_2016['VEHICLE_HAL_ID']=cluster_2016['VEHICLE_HAL_ID'].astype('category').cat.codes
#cluster_2016 = cluster_2016.drop(columns=['START_RENTAL_ZONE', 'END_RENTAL_ZONE'])
cluster_2016.head()

,VEHICLE_HAL_ID,START_RENTAL_ZONE,END_RENTAL_ZONE,CITY_RENTAL_ZONE,TECHNICAL_INCOME_CHANNEL,Ride_Duration_new,Month
0,1794,796,115,Hamburg,Android,28.800000,January
1,1574,683,318,Hamburg,iPhone,27.050000,January
2,6517,422,377,Hamburg,iPhone,11.216667,January
3,5127,401,437,Hamburg,others,75.383333,January
4,6984,94,266,Hamburg,Android,8.983333,January

# Approach #1 - Backward Difference Coding

In [10]:
import category_encoders as ce

# Get a new clean dataframe
# cluster_2016 = cluster_2016.select_dtypes(exclude=['float64'])

# Specify the columns to encode then fit and transform
encoder = ce.backward_difference.BackwardDifferenceEncoder(cols=["CITY_RENTAL_ZONE","TECHNICAL_INCOME_CHANNEL","Month"])
encoder.fit(cluster_2016, verbose=1)

# Only display the first 5 columns for brevity
backd_df = encoder.transform(cluster_2016)
backd_df.head()

,col_CITY_RENTAL_ZONE_0,col_CITY_RENTAL_ZONE_1,col_CITY_RENTAL_ZONE_2,col_CITY_RENTAL_ZONE_3,col_CITY_RENTAL_ZONE_4,col_CITY_RENTAL_ZONE_5,col_CITY_RENTAL_ZONE_6,col_CITY_RENTAL_ZONE_7,col_CITY_RENTAL_ZONE_8,col_CITY_RENTAL_ZONE_9,col_CITY_RENTAL_ZONE_10,col_CITY_RENTAL_ZONE_11,col_CITY_RENTAL_ZONE_12,col_CITY_RENTAL_ZONE_13,col_CITY_RENTAL_ZONE_14,col_CITY_RENTAL_ZONE_15,col_CITY_RENTAL_ZONE_16,col_CITY_RENTAL_ZONE_17,col_CITY_RENTAL_ZONE_18,col_CITY_RENTAL_ZONE_19,col_CITY_RENTAL_ZONE_20,col_CITY_RENTAL_ZONE_21,col_CITY_RENTAL_ZONE_22,col_CITY_RENTAL_ZONE_23,col_CITY_RENTAL_ZONE_24,col_CITY_RENTAL_ZONE_25,col_CITY_RENTAL_ZONE_26,col_CITY_RENTAL_ZONE_27,col_CITY_RENTAL_ZONE_28,col_CITY_RENTAL_ZONE_29,col_CITY_RENTAL_ZONE_30,col_CITY_RENTAL_ZONE_31,col_CITY_RENTAL_ZONE_32,col_CITY_RENTAL_ZONE_33,col_CITY_RENTAL_ZONE_34,col_CITY_RENTAL_ZONE_35,col_CITY_RENTAL_ZONE_36,col_CITY_RENTAL_ZONE_37,col_CITY_RENTAL_ZONE_38,col_CITY_RENTAL_ZONE_39,col_CITY_RENTAL_ZONE_40,col_CITY_RENTAL_ZONE_41,col_CITY_RENTAL_ZONE_42,col_CITY_RENTAL_ZONE_43,col_CITY_RENTAL_ZONE_44,col_TECHNICAL_INCOME_CHANNEL_0,col_TECHNICAL_INCOME_CHANNEL_1,col_TECHNICAL_INCOME_CHANNEL_2,col_TECHNICAL_INCOME_CHANNEL_3,col_TECHNICAL_INCOME_CHANNEL_4,col_TECHNICAL_INCOME_CHANNEL_5,col_Month_0,col_Month_1,col_Month_2,col_Month_3,col_Month_4,col_Month_5,col_VEHICLE_HAL_ID,col_START_RENTAL_ZONE,col_END_RENTAL_ZONE,col_Ride_Duration_new
0,1.0,-0.977778,-0.955556,-0.933333,-0.911111,-0.888889,-0.866667,-0.844444,-0.822222,-0.8,-0.777778,-0.755556,-0.733333,-0.711111,-0.688889,-0.666667,-0.644444,-0.622222,-0.6,-0.577778,-0.555556,-0.533333,-0.511111,-0.488889,-0.466667,-0.444444,-0.422222,-0.4,-0.377778,-0.355556,-0.333333,-0.311111,-0.288889,-0.266667,-0.244444,-0.222222,-0.2,-0.177778,-0.155556,-0.133333,-0.111111,-0.088889,-0.066667,-0.044444,-0.022222,1.0,-0.833333,-0.666667,-0.5,-0.333333,-0.166667,1.0,-0.833333,-0.666667,-0.5,-0.333333,-0.166667,1794,796,115,28.800000
1,1.0,-0.977778,-0.955556,-0.933333,-0.911111,-0.888889,-0.866667,-0.844444,-0.822222,-0.8,-0.777778,-0.755556,-0.733333,-0.711111,-0.688889,-0.666667,-0.644444,-0.622222,-0.6,-0.577778,-0.555556,-0.533333,-0.511111,-0.488889,-0.466667,-0.444444,-0.422222,-0.4,-0.377778,-0.355556,-0.333333,-0.311111,-0.288889,-0.266667,-0.244444,-0.222222,-0.2,-0.177778,-0.155556,-0.133333,-0.111111,-0.088889,-0.066667,-0.044444,-0.022222,1.0,0.166667,-0.666667,-0.5,-0.333333,-0.166667,1.0,-0.833333,-0.666667,-0.5,-0.333333,-0.166667,1574,683,318,27.050000
2,1.0,-0.977778,-0.955556,-0.933333,-0.911111,-0.888889,-0.866667,-0.844444,-0.822222,-0.8,-0.777778,-0.755556,-0.733333,-0.711111,-0.688889,-0.666667,-0.644444,-0.622222,-0.6,-0.577778,-0.555556,-0.533333,-0.511111,-0.488889,-0.466667,-0.444444,-0.422222,-0.4,-0.377778,-0.355556,-0.333333,-0.311111,-0.288889,-0.266667,-0.244444,-0.222222,-0.2,-0.177778,-0.155556,-0.133333,-0.111111,-0.088889,-0.066667,-0.044444,-0.022222,1.0,0.166667,-0.666667,-0.5,-0.333333,-0.166667,1.0,-0.833333,-0.666667,-0.5,-0.333333,-0.166667,6517,422,377,11.216667
3,1.0,-0.977778,-0.955556,-0.933333,-0.911111,-0.888889,-0.866667,-0.844444,-0.822222,-0.8,-0.777778,-0.755556,-0.733333,-0.711111,-0.688889,-0.666667,-0.644444,-0.622222,-0.6,-0.577778,-0.555556,-0.533333,-0.511111,-0.488889,-0.466667,-0.444444,-0.422222,-0.4,-0.377778,-0.355556,-0.333333,-0.311111,-0.288889,-0.266667,-0.244444,-0.222222,-0.2,-0.177778,-0.155556,-0.133333,-0.111111,-0.088889,-0.066667,-0.044444,-0.022222,1.0,0.166667,0.333333,-0.5,-0.333333,-0.166667,1.0,-0.833333,-0.666667,-0.5,-0.333333,-0.166667,5127,401,437,75.383333
4,1.0,-0.977778,-0.955556,-0.933333,-0.911111,-0.888889,-0.866667,-0.844444,-0.822222,-0.8,-0.777778,-0.755556,-0.733333,-0.711111,-0.688889,-0.666667,-0.644444,-0.622222,-0.6,-0.577778,-0.555556,-0.533333,-0.511111,-0.488889,-0.466667,-0.444444,-0.422222,-0.4,-0.377778,-0.355556,-0.333333,-0.311111,-0.288889,-0.266667,-0.244444,-0.222222,-0.2,-0.177778,-0.155556,-0.133333,-0.111111,-0.088889,-0.066667,-0.044444,-0.022222,1.0,-0.833333,-0.666667,-0.5,-0.333333,-0.166667,1.0,-0.833333,-0.666667,-0.5,-0.333333,-0.166667,6984,94,266,8.983333

In [11]:
# To convert the value into numpy array

backd_df = backd_df.iloc[:, 0:].values

In [12]:
# printing the first array of features

backd_df[0]

array([ 1.00000000e+00, -9.77777778e-01, -9.55555556e-01, -9.33333333e-01,
       -9.11111111e-01, -8.88888889e-01, -8.66666667e-01, -8.44444444e-01,
       -8.22222222e-01, -8.00000000e-01, -7.77777778e-01, -7.55555556e-01,
       -7.33333333e-01, -7.11111111e-01, -6.88888889e-01, -6.66666667e-01,
       -6.44444444e-01, -6.22222222e-01, -6.00000000e-01, -5.77777778e-01,
       -5.55555556e-01, -5.33333333e-01, -5.11111111e-01, -4.88888889e-01,
       -4.66666667e-01, -4.44444444e-01, -4.22222222e-01, -4.00000000e-01,
       -3.77777778e-01, -3.55555556e-01, -3.33333333e-01, -3.11111111e-01,
       -2.88888889e-01, -2.66666667e-01, -2.44444444e-01, -2.22222222e-01,
       -2.00000000e-01, -1.77777778e-01, -1.55555556e-01, -1.33333333e-01,
       -1.11111111e-01, -8.88888889e-02, -6.66666667e-02, -4.44444444e-02,
       -2.22222222e-02,  1.00000000e+00, -8.33333333e-01, -6.66666667e-01,
       -5.00000000e-01, -3.33333333e-01, -1.66666667e-01,  1.00000000e+00,
       -8.33333333e-01, -6.66666667e-01, -5.00000000e-01, -3.33333333e-01,
       -1.66666667e-01,  1.79400000e+03,  7.96000000e+02,  1.15000000e+02,
        2.88000000e+01])

In [ ]:
# with 'Cao' initilization as it is a optimized initializer and verbose is information to see.
# no of cluster is 7 according elbow method with lower cost

kmode = KModes(n_clusters=11, init='Cao', verbose=2)

clusters = kmode.fit_predict(backd_df)
# cluster_2016['clusters'] = clusters


# Print cluster centroids of the trained model.
print(kmode.cluster_centroids_)

# Print training statistics
print(kmode.n_iter_)

In [ ]:
# cost in this encoding
print(kmode.cost_)

In [ ]:
# predict all the labels

labels = kmode.labels_

In [ ]:
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA

pca_2 = PCA(2)
plot_columns = pca_2.fit_transform(backd_df)

In [ ]:
%matplotlib inline

In [ ]:
# plotting the all the clusters in 2D by using PCA

colors = ['red','blue','yellow','green','purple','cyan','brown']
fig = plt.figure(figsize = (15,10))
plt.scatter(x = plot_columns[:,0],y = plot_columns[:,1],c=[colors[l_] for l_ in labels] ,label = labels, alpha=0.01)
plt.show()

In [ ]:
labels = [colors[l_] for l_ in labels]

In [ ]:
# cluster distribution for the dataset

lab = pd.DataFrame(labels)
for col in colors:
    print(col, str(lab[lab[0]==col].count()))

# Approach #2 -Polynomial  Encoding

In [ ]:
cluster_2016 = pd.read_csv('cluster_data_less.csv',index_col = False)
# dropping  the index column
cluster_2016 = cluster_2016.drop(columns=['Unnamed: 0'])
cluster_2016 = cluster_2016.drop(columns=['START_RENTAL_ZONE_HAL_ID', 'END_RENTAL_ZONE_HAL_ID'])
cleanup_months = {"Month":     {6:'June',5:'May',4:"April",3:'March' ,2: "February",1:"January"}}
cluster_2016.replace(cleanup_months, inplace=True)
cluster_2016.head()

In [ ]:
# converting all categorcal variable to dummy encoding

cluster_2016['START_RENTAL_ZONE']=cluster_2016['START_RENTAL_ZONE'].astype('category').cat.codes
cluster_2016['END_RENTAL_ZONE']=cluster_2016['END_RENTAL_ZONE'].astype('category').cat.codes
cluster_2016['VEHICLE_HAL_ID']=cluster_2016['VEHICLE_HAL_ID'].astype('category').cat.codes
#cluster_2016 = cluster_2016.drop(columns=['START_RENTAL_ZONE', 'END_RENTAL_ZONE'])
cluster_2016.head()

In [ ]:
import category_encoders as ce
encoder = ce.polynomial.PolynomialEncoder(cols=["CITY_RENTAL_ZONE","TECHNICAL_INCOME_CHANNEL","Month"])
encoder.fit(cluster_2016, verbose=1)
poly_df = encoder.transform(cluster_2016)

In [ ]:
poly_df.head()

In [ ]:
# To convert the value into numpy array

poly_df = poly_df.iloc[:, 0:].values

In [ ]:
poly_df[0]

In [ ]:
kmode = KModes(n_clusters=11, init='Cao', verbose=2)

clusters = kmode.fit_predict(poly_df)

# Print cluster centroids of the trained model.
print(kmode.cluster_centroids_)

# Print training statistics
print(kmode.n_iter_)

In [ ]:
# cost in this encoding
print(kmode.cost_)

In [ ]:
# predict all the labels

labels = kmode.labels_

In [ ]:
%matplotlib inline
# plotting the all the clusters in 2D by using PCA
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA

pca_2 = PCA(2)
plot_columns = pca_2.fit_transform(poly_df)

colors = ['red','blue','yellow','green','purple','cyan','brown']
fig = plt.figure(figsize = (15,10))
plt.scatter(x = plot_columns[:,0],y = plot_columns[:,1],c=[colors[l_] for l_ in labels] ,label = labels, alpha=0.01)
plt.show()

In [ ]:
labels = [colors[l_] for l_ in labels]

In [ ]:

# cluster distribution for the dataset

lab = pd.DataFrame(labels)
for col in colors:
    print(col, str(lab[lab[0]==col].count()))

# Approach #3 -- Helmert Coding

In [ ]:
cluster_2016 = pd.read_csv('cluster_data_less.csv',index_col = False)
# dropping  the index column
cluster_2016 = cluster_2016.drop(columns=['Unnamed: 0'])
cluster_2016 = cluster_2016.drop(columns=['START_RENTAL_ZONE_HAL_ID', 'END_RENTAL_ZONE_HAL_ID'])
cleanup_months = {"Month":     {6:'June',5:'May',4:"April",3:'March' ,2: "February",1:"January"}}
cluster_2016.replace(cleanup_months, inplace=True)
cluster_2016.head()

In [ ]:
# converting all categorcal variable to dummy encoding

cluster_2016['START_RENTAL_ZONE']=cluster_2016['START_RENTAL_ZONE'].astype('category').cat.codes
cluster_2016['END_RENTAL_ZONE']=cluster_2016['END_RENTAL_ZONE'].astype('category').cat.codes
cluster_2016['VEHICLE_HAL_ID']=cluster_2016['VEHICLE_HAL_ID'].astype('category').cat.codes
#cluster_2016 = cluster_2016.drop(columns=['START_RENTAL_ZONE', 'END_RENTAL_ZONE'])
cluster_2016.head()

In [ ]:
import category_encoders as ce
encoder = ce.helmert.HelmertEncoder(cols=["CITY_RENTAL_ZONE","TECHNICAL_INCOME_CHANNEL","Month"])
encoder.fit(cluster_2016, verbose=1)
helm_df = encoder.transform(cluster_2016)

In [ ]:
helm_df.head()

In [ ]:
# To convert the value into numpy array

helm_df = helm_df.iloc[:, 0:].values
helm_df[0]

In [ ]:
# with 'Cao' initilization as it is a optimized initializer and verbose is information to see.
# no of cluster is 7 according elbow method with lower cost
from kmodes.kprototypes import KPrototypes
kproto = KPrototypes(n_clusters=7, init='Cao', verbose=2)

# fit the data in numpy array format , and given all the  categorical features index
clusters = kproto.fit(helm_df, categorical=[0, 1, 2, 3, 4, 6])

# Print cluster centroids of the trained model.
print(kproto.cluster_centroids_)

# Print training statistics
print(kproto.n_iter_)

In [ ]:
# cost in this encoding
print(kmode.cost_)

In [ ]:
# predict all the labels

labels = kmode.labels_

In [ ]:
%matplotlib inline
# plotting the all the clusters in 2D by using PCA

import matplotlib.pyplot as plt
from sklearn.decomposition import PCA

pca_2 = PCA(2)
plot_columns = pca_2.fit_transform(helm_df)

colors = ['red','blue','yellow','green','purple','cyan','brown']
fig = plt.figure(figsize = (15,10))
plt.scatter(x = plot_columns[:,0],y = plot_columns[:,1],c=[colors[l_] for l_ in labels] ,label = labels, alpha=0.01)
plt.show()

In [ ]:
labels = [colors[l_] for l_ in labels]
# cluster distribution for the dataset

lab = pd.DataFrame(labels)
for col in colors:
    print(col, str(lab[lab[0]==col].count()))